In [8]:
NOTEBOOK 3

Angelo Escobar Palacios

SyntaxError: invalid syntax (<ipython-input-8-3c7d96aa6ef2>, line 1)

In [ ]:
#EJERCICIO 1

1)  CREATE DATABASE valdivia;
    CREATE TABLE persona(pk_RUT INT AUTO_INCREMENT, Nombre VARCHAR(30),Edad INT,PRIMARY KEY(pk_RUT));
    CREATE TABLE lugar_de_interes(pk_Lugar INT AUTO_INCREMENT,Descripcion VARCHAR(30),Categoria VARCHAR(15),Latitud FLOAT,Longitud FLOAT,PRIMARY KEY(pk_Lugar));
    CREATE TABLE desplazarse(pk_RUT INT NOT NULL,FOREIGN KEY fk_rut(pk_RUT) REFERENCES persona(pk_RUT),fecha DATETIME,Latitud FLOAT,Longitud FLOAT,PRIMARY KEY(pk_RUT));

In [ ]:
#EJERCICIO 1

2)  INSERT INTO persona(Nombre,Edad) VALUES ("Gonzalo-Nichan",20),("HeinzSiano",20),("Angelo",20),("Chungo",21),("El Kenny",21);
    INSERT INTO lugar_de_interes(Descripcion,Categoria,Latitud,Longitud) VALUES ("lugar de estudio","Estudio",-21.23,213.3),("laboratorio curiñanco","Estudio",-76.23,93.5),("cancha oficial de miraflores","Turismo",-67.532,861.3),("lugar de estudio publico","Estudio",356.21,-457.3),("Estadio municipal de valdivia","Turismo",874.23,-35.8);
    INSERT INTO desplazarse(pk_RUT,Latitud,Longitud) VALUES (1,345.4,-232.4),(2,54.1,-372.6),(3,-57.7,-2.5),(4,-5.0,-32.9),(5,-78.8,-96.3);

In [ ]:
#EJERCICIO 1

3) Respuesta: Esta Base de Datos puede funcionar como metodo principal para la
              gestion de la posicion en tiempo real de una persona, como por ejemplo
              en la aplicacion movil PókemonGo.

In [ ]:
#EJERCICIO 2
1)  Hacer una copia de seguridad es esencial, y mas aun en una empresa o cuando se esta haciendo uso de una
    Base de Datos muy grande e importante.
    
    - Esta copia de seguridad nos sirve para recuperar nuestra Base de Datos en caso de algun imprevisto,
      ya sea falla de la maquina,falla de el software, errores que aveces cometen los usuarios o incluso
    algun error propio.
    - Tambien es util para cuando el programador esta actualizando su SGBD.

In [ ]:
#EJERCICIO 2

2) Al escribir el comando "mysqldump" tenemos lo siguiente:
    
    angelo@Razor:~$ mysqldump
    Usage: mysqldump [OPTIONS] database [tables]
    OR     mysqldump [OPTIONS] --databases [OPTIONS] DB1 [DB2 DB3...]
    OR     mysqldump [OPTIONS] --all-databases [OPTIONS]
    For more options, use mysqldump --help
    
    Haciendo Copia De Seguridad de la Base De Datos Valdivia:
    "mysqldump --user=root -p valdivia > copia_seguridad_valdivia.sql"

In [ ]:
#EJERCICIO 2

3) - El formato de datos CSV deja nustros datos separados por una coma y nos permite analizar y trabajar con ellos
     de la manera que queramos. Ademas nos permite intercambiar datos entre varias aplicaciones.
    
   - Exportaremos los datos de la tabla persona con la condicion de que el atributo Edad sea igual a 21:
    
**  SELECT 
    Nombre,Edad
    FROM
        persona
    WHERE
        Edad = 21 
    INTO OUTFILE 'C:/tmp/personas_21.csv' 
    FIELDS ENCLOSED BY '"' 
    TERMINATED BY ';' 
    ESCAPED BY '"' 
    LINES TERMINATED BY '\r\n';
**

In [ ]:
#EJERCICIO 3

1)  El usuario puede realizar todas estas acciones en la Base de Datos:
    
    * Procesar objetos de base de datos
    * Leer datos de base de datos.
    * Leer metadatos de base de datos.
    * Agregar usuarios a funciones de base de datos existentes.
    * Crear funciones de base de datos nuevas.
    * Definir permisos para funciones de base de datos

In [ ]:
#EJERCICIO 3

2) El comando necesario es:
    - CREATE USER 'angelo'@'192.168.8.102' IDENTIFIED BY '123';
    - GRANT ALL ON valdivia.* TO 'heinz'@'192.168.8.102';

In [ ]:
#EJERCICIO 3

3)  CREATE USER 'heinz'@'192.168.8.102' IDENTIFIED BY '456';
    GRANT SELECT ON valdivia.lugar_de_interes TO 'heinz'@'192.168.8.102';
    GRANT SELECT ON valdivia.desplazarse TO 'heinz'@'192.168.8.102';

In [ ]:
#EJERCICIO 4

1)ALTER TABLE persona ADD COLUMN nivel_de_estudio VARCHAR(15);

In [ ]:
#EJERCICIO 4

2)  CREATE TABLE categoria (pk_categoria VARCHAR(30) NOT NULL,PRIMARY KEY(pk_categoria));
    ALTER TABLE lugar_de_interes CHANGE COLUMN categoria  categoria VARCHAR(30) UNIQUE;
    ALTER TABLE lugar_de_interes ADD FOREIGN KEY fk_categoria(categoria) REFERENCES categoria(pk_categoria);

In [ ]:
#EJERCICIO 4

3)  // Tabla desplazarse:
        
        ALTER TABLE lugar_de_interes CHANGE COLUMN Latitud Latitud FLOAT NOT NULL;
        ALTER TABLE lugar_de_interes CHANGE COLUMN Longitud Longitud FLOAT NOT NULL;

    // Tabla lugar_de_interes:
        
        ALTER TABLE lugar_de_interes CHANGE COLUMN Latitud Latitud FLOAT NOT NULL;
        ALTER TABLE lugar_de_interes CHANGE COLUMN Longitud Longitud FLOAT NOT NULL;